USE [master]
GO
/****** Object:  Database [PhimDB]    Script Date: 21/7/2025 8:43:13 PM ******/
CREATE DATABASE [PhimDB]
GO
USE [PhimDB]
GO
/****** Object:  Table [dbo].[LoaiPhim]    Script Date: 21/7/2025 8:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhim](
	[ID_LoaiPhim] [varchar](20) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__LoaiPhim__662ACB01D64C2FA9] PRIMARY KEY CLUSTERED 
(
	[ID_LoaiPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 21/7/2025 8:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[ID_Phim] [int] IDENTITY(1,1) NOT NULL,	
	[Ten_Phim] [nvarchar](100) NULL,
	[Dao_Dien] [nvarchar](200) NULL,
	[Anh] [varchar](100) NULL,
	[Ngay_Khoi_Chieu] [date] NULL,
	[ID_LoaiPhim] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Phim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoaiPhim] ([ID_LoaiPhim], [TenLoai]) VALUES (N'dm01', N'Phim hành động')
INSERT [dbo].[LoaiPhim] ([ID_LoaiPhim], [TenLoai]) VALUES (N'dm02', N'Phim tâm lý')
INSERT [dbo].[LoaiPhim] ([ID_LoaiPhim], [TenLoai]) VALUES (N'dm03', N'Phim kinh dị')
GO
SET IDENTITY_INSERT [dbo].[Phim] ON 

INSERT [dbo].[Phim] ([ID_Phim], [ID_LoaiPhim], [Ten_Phim], [Dao_Dien], [Anh], [Ngay_Khoi_Chieu]) VALUES (1, N'dm01', N'Pacific Rim: Trỗi Dậy', N'Steven S. DeKnight', N'pacificrimtroiday.jpg', CAST(N'2018-04-28' AS Date))
INSERT [dbo].[Phim] ([ID_Phim], [ID_LoaiPhim], [Ten_Phim], [Dao_Dien], [Anh], [Ngay_Khoi_Chieu]) VALUES (2, N'dm01', N'Tomb Raider: Huyền Thoại Bắt Đầu', N'Roar Uthaug', N'huyenthoaibatdau.jpg', CAST(N'2018-03-16' AS Date))
INSERT [dbo].[Phim] ([ID_Phim], [ID_LoaiPhim], [Ten_Phim], [Dao_Dien], [Anh], [Ngay_Khoi_Chieu]) VALUES (3, N'dm02', N'Tháng Năm Rực Rỡ', N'Nguyễn Quang Dũng', N'thangnamrucro.jpg', CAST(N'2018-03-09' AS Date))
SET IDENTITY_INSERT [dbo].[Phim] OFF
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD FOREIGN KEY([ID_LoaiPhim])
REFERENCES [dbo].[LoaiPhim] ([ID_LoaiPhim])
GO
USE [master]
GO
